NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://kanban:kanban@localhost:5432/kanban_db?schema=public

# Generate with: openssl rand -base64 48
JWT_ACCESS_SECRET=4bG7l/cuiyBYS6o+iv2fIbfROe8PX8cYrWk/dVwO0asqhDiwS00I0hTGEC7mBnxL
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=apkcp0ipqg9hHX/tIddADHs+P9AHPZLCH7jokGB/N28wlvNqTDmq4E8nDd9Xqru3
JWT_REFRESH_EXPIRY=7d

CORS_ORIGIN=http://localhost:3000
